
$primary-color: white; 
$secondary-color: black; 
$background-color: black; 

$primary-font: 'Helvetica', sans-serif;
$secondary-font: 'Arial', sans-serif;

$base-spacing: 1rem; 

$small-screen: 480px;
$medium-screen: 768px;
$large-screen: 1024px;


